label{ 
    clear: left;
    width: 100vw;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: left;
    font-size: medium;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(112, 111, 111);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(88, 88, 88)
}

label[for=Validate] {
    width: fit-content;
    margin: 7px 7px 7px 0px;
    text-align: left;
    font-size: medium;
}


@media screen and (min-width: 550px) {
    label, label[for=Validate]{ 
        clear: left;
        min-width: 10%;
        max-width: 150px;
        margin: 20px;
        text-align: left;
    }

    label[for=Validate] {
        min-width: fit-content;
        max-width: fit-content;
        width: fit-content;
    }

    input[type=text] {
        min-width: 250px;
        max-width: 325px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        min-width: 400px;
        max-width: 500px;
        margin-left: 20px;
    }
}

.footer {
    background-color: #333;
    color: rgb(239, 253, 253);
    margin-top: 2%;
    padding: 0.5%;
}